* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.card-image {
    width: 250px;
}

.sizetable {
   text-align: center !important;
}
.card {
    background-color: whitesmoke;
    border: none;
    margin: 25px 15px;
    display: inline-block !important;

}
.content {
    width: 100%;
}
.siso, .icon {
    color:rgba(3, 160, 92, 0.733);
}
.siso2, .icon2 {
    color:rgba(1, 92, 165, 0.733);
}
.siso3, .icon3 {
    color:rgba(189, 5, 5, 0.733);
}
.siso4, .icon4 {
    color:rgba(233, 119, 5, 0.733);
}
.icon {
    margin: center;
    float: right;
    font-size: 50px;
}