
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    font-size:1.5rem;
    font-weight:500;
    text-align:center;
}


.course {
    width: 30%;
    line-height: 30px;
    float: left;
    margin: 0 10px;
}

.course img {
    width: 100%;
    object-fit: cover;
}

.subject {
    text-align: center;
    color: rgb(7, 107, 247);
    font-weight: bold;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 700px) {
    .course {
        width: 100%;
        margin: 10px 0px;
    }
}