.grid{
    width: 1300px;
    max-width: 100%; 
    margin: 0 auto;
}

.grid_row{
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
}
.grid_column-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 30%;
}
/*Product items*/
.home-product-item {
    background-color: rgba(253, 252, 252,0);
    margin-top: 10px;
}

.home-product-item_img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.home-product-item_name 
{
    font-size: 13px;
    margin: 10px 0;
}